<mat-tab-group>
    <mat-tab label="Descripción"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo asperiores ipsam dicta aliquam impedit a sint. Assumenda obcaecati cupiditate nostrum dolores, facilis ipsum quam tempore perferendis illum id dolorem corrupti! </mat-tab>
    <mat-tab label="Menú"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, amet at, similique quibusdam nam provident sunt, totam in quasi doloremque tempora optio omnis voluptatem autem esse facilis natus voluptate magnam? </mat-tab>
  </mat-tab-group>