<!--<mat-selection-list #shoes>
    <mat-list-option *ngFor="let shoe of typesOfShoes">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list>
-->
  <!--<mat-list role="list">

    <mat-list-item role="listitem">
        <i class="fas fa-check"></i>
    </mat-list-item>
    <mat-list-item role="listitem">
        ACEPTA RECERVACIONES
    </mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>-->

  <div class="col-md-12">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="row">
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <i class="fas fa-check"></i>ACEPTA RECERVACIONES
                    </mat-list-item>
                    <mat-list-item role="listitem"><i class="fas fa-check"></i>CABLE TV</mat-list-item>
                    <mat-list-item role="listitem"><i class="fas fa-check"></i>MÚSICA</mat-list-item>
                    <mat-list-item role="listitem"><i class="fas fa-check"></i>TERRAZA O JARDÍN</mat-list-item>
                    <mat-list-item role="listitem"><i class="fas fa-check"></i>WI-FI GRATUITO</mat-list-item>
                  </mat-list>
              </div>
          </div>
          <div class="col-md-6">
            <div class="row">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mb-3">
                        <i class="fas fa-check"></i>ACEPTA TARJETA DE CREDITO Y DEBITO
                    </mat-list-item>
                    <mat-list-item role="listitem"><i class="fas fa-check"></i>ESTACIONAMIENTO CERCANO</mat-list-item>
                    <mat-list-item role="listitem"><i class="fas fa-check"></i>SALÓN PRIVADO</mat-list-item>
                    <mat-list-item role="listitem"><i class="fas fa-check"></i>VALET PARKING</mat-list-item>
                    <mat-list-item role="listitem"><i class="fas fa-check"></i>ZONA PARA FUMAR</mat-list-item>
                  </mat-list>
            </div>
        </div>
      </div>
  </div>